<section>
  <div class='container'>
    <div class='row'>
      <div class="col-sm-12">
        <p>This is another KeystoneJS View. <u>It is only accessible to logged in users.</u></p>
        <br>
        <p>
          Creating a private view like this is just like the steps involved in creating
          <a href="/test">the test view</a>. The only difference is in the route handler
          file located in keystone/routes/exampleRouter.js.
        </p>
      </div>
    </div>
  </div>
  
</section>