

<section>
  <div class='container'>
    <div class='row'>
      <div class="col-sm-12">
        <p>This is the test page demonstrating how to create a KeystoneJS View in your plugin. This page is publicly accessible.</p>
        <br>
        <p>
          To create a KeystoneJS view like this, you need three components:
          <ul>
            <li>The view route definition, which lives in the keystone/routes/views/exampleRouter.js file.</li>
            <li>The view route handler, which lives in the keystone/routes/views/test.js file.</li>
            <li>And then the view template, which lives in the keystone/templates/views/test.hbs file.</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  
</section>

