<!doctype html>
  <!-- Create and show the pre-loader animation before anything else -->
  <link rel="stylesheet" href="../styles/preloader.css">
  <div id="loader-wrapper">
    <div id="loader"></div>
  </div>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SSHD Port Control Tester</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(assets) styles/screen.css -->
    <!-- <link rel="stylesheet" href="styles/screen.css"> -->
    <!-- endbuild -->

    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!-- <link rel="stylesheet" href="/styles/toggle-switch.css"> -->
    
    <!-- JavaScript files get loaded in the head so that I can use them in the body. -->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap-3.3.5.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->



    {{{ body }}}

    <!-- Hide the preloader after the page has loaded -->
    <script type="text/javascript">
      //Hide the preloader after everything finished loading and document is ready.
      $(document).ready(function() {
        $('#loader-wrapper').hide();
      });
    </script>

  </body>
</html>