
<div class="row">
  <div class="col-md-12">
    <p>
      Welcome to the RPi-OVN Logging Work Dashboard. This is where you can log your work and labor statistics for the various projects housed on this site.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul>
      <li><a href="#/" onclick="global.leftMenuView.showLogWork()"><h2>Log your time</h2></a></li>
      <li><a href="#/" onclick="global.leftMenuView.showProjectView()"><h2>View Projects and Contributions</h2></a></li>
    </ul>
  </div>
</div>

<br />
<hr />
