<div class="row">
  <div class="col-sm-12">
    <form>
      <div class="form-group">
        <label for="deviceName">Device Name</label>
        <input type="text" class="form-control" id="deviceName" placeholder="">
      </div>
      <div class="form-group">
        <label for="deviceDescription">Description</label>
        <textarea class="form-control" id="deviceDescription" rows="6"></textarea>
      </div>

      <button type="button" class="btn btn-default" id="submitButton">Submit</button>
    </form>
  </div>
</div>