<div class="row">
  <div class="col-sm-12">
    <p>
      Below is a mock up of the table that will be used to represent the RPi Broker Marketplace.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <th>Cost per Month</th>
        <th>Rating</th>
        <th>Internet Speed</th>
        <th>Memory</th>
        <th>Disk Space</th>
        <th>Processor</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>$5</td>
        <td>3.72 <button class="btn btn-sm btn-primary pull-right">Reviews</button></td>
        <td>12 kbps up/53 kpbs down</td>
        <td>793 MB</td>
        <td>7.43 GB</td>
        <td>Raspberry Pi 3</td>
        <td><button class="btn btn-sm btn-success center-block">Rent Now</button></td>
      </tr>
      <tr>
        <td>$7.75</td>
        <td>4.53 <button class="btn btn-sm btn-primary pull-right">Reviews</button></td>
        <td>43 kbps up/115 kpbs down</td>
        <td>1.4 GB</td>
        <td>15.43 GB</td>
        <td>Raspberry Pi 3</td>
        <td><button class="btn btn-sm btn-success center-block">Rent Now</button></td>
      </tr>
      <tr>
        <td>$5</td>
        <td>3.72 <button class="btn btn-sm btn-primary pull-right">Reviews</button></td>
        <td>12 kbps up/53 kpbs down</td>
        <td>793 MB</td>
        <td>7.43 GB</td>
        <td>Raspberry Pi 3</td>
        <td><button class="btn btn-sm btn-success center-block">Rent Now</button></td>
      </tr>
      <tr>
        <td>$7.75</td>
        <td>4.53 <button class="btn btn-sm btn-primary pull-right">Reviews</button></td>
        <td>43 kbps up/115 kpbs down</td>
        <td>1.4 GB</td>
        <td>15.43 GB</td>
        <td>Raspberry Pi 3</td>
        <td><button class="btn btn-sm btn-success center-block">Rent Now</button></td>
      </tr>
    </table>
  </div>
</div>
